name: Quality

on:
  push:
    branches: [ master, dev ]

  pull_request:
    branches: [ master, dev ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install postgres client
        run: sudo apt-get install libpq-dev

      - name: Install ruby dependencies
        run: bundle install

      - name: Install node dependencies
        run: yarn

      - name: Set up db
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY}}
          RAILS_ENV: 'test'
        run: bin/rails db:setup

      - name: Check quality
        run: script/quality

      - name: Run tests
        env:
          RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY}}
          RAILS_ENV: 'test'
        run: script/tests
